<!DOCTYPE html>
<html>
<head>
    <title>Timeline_All</title>
	
	    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
</head>
<body>
	<p><!-- Why are the margins of 2px? -->
		{% for value in range(n_t) %}		
			{% if user_src[value] %}				
				{% if view_type == "html_path" %}<!--	
					--><iframe src="{{ user_src[value] }}" style="width:120px;"></iframe><!--
			 -->{% elif view_type == "jpeg_base64" %}<!--	
					--><img src="data:image/jpeg;base64,{{ user_src[value] }}" style="width:120px;"/><!--	
			 -->{% endif %}		
		    {% else %}
				{% set uimg = "static/blue.jpg" %}<!--
				--><img src="{{ uimg }}" style="width:120px;"><!--	
		 -->{% endif %}
		{% endfor %}
	<p> <!-- vertical-align ? -->
		{% for value in range(n_t) %}
			{% if user_text[value] %}
				{% set utxt = user_text[value] %}
			{% else %}
				{% set utxt = "-" %}
			{% endif %}<!--
			--><form action="/view"  method="post" target="_blank" style="display: inline-block;">
			<input type="submit" name="{{ value }}" value="{{ utxt }}" style="width:120px; border:none; background-color:white; white-space: normal; word-wrap: break-word;">
			</form><!-- 
		-->{% endfor %}
	</p>
	<p> 
		<div style="width=1240px;">	
		{% for value in range(n_e) %}<!--
		--><span style="position: relative; left:{{ user_eventline[value][0] }}px;">{{ user_eventname[value] }}</span><!--  
		-->{% endfor %}	
		</div>
	</p>		
	<p>
		<svg width="1240px" height="2px">	
		{% for value in range(n_e) %}		
			<line x1="{{ user_eventline[value][0] }}px" y1="1px" x2="{{ user_eventline[value][1] }}px" y2="1px" style="stroke:black ;stroke-width:1px" />
		{% endfor %}		
		</svg>
	</p>
	<p>
		<svg width="1240px" height="5px">	
		{% for value in range(n_a) %}		
			<line x1="{{ user_atomarevents[value][0] }}px" y1="3px" x2="{{ user_atomarevents[value][1] }}px" y2="3px" style="stroke:navy; stroke-width:5px;" />
		{% endfor %}		
		</svg>
	</p>
	<p> <br></br> </p>
	<p>	
		{% for value in range(n_t) %}<!--
		--><svg width="124px" height="11px"><!--
			--><line x1="0px" y1="6px" x2="124px" y2="6px" style="stroke:black ;stroke-width:1px" /><!--
			--><line x1="0px" y1="0px" x2="0px" y2="11px" style="stroke:black; stroke-width:2px" /><!--
		--></svg><!--		
		-->{% endfor %}<!--	
		--><svg width="1px" height="11px"><!--
			--><line x1="0px" y1="0px" x2="0px" y2="11px" style="stroke:black;stroke-width:2px" /><!--
		--></svg>		
	</p>
	<p>	
		<!-- <text x="0" y="15" fill="red">I love SVG!</text> -->
		{% for value in range(n_t) %}<!--
		--><div style="display: inline-block; width: 124px; text-align: left;">{{ user_time[value] }}</div><!--		
		-->{% endfor %}				
	</p>
	<p> <br></br> </p>
	<p> 
		<!--  Zoom and shift buttons -->
		<div  style="text-align: center">
			<form method="post" style="display: inline-block;">
			<input type="submit" name="zoom in" value="Zoom In" style="width:120px; background-color:white;">
			</form> 
		</div> 
		<div  style="text-align: center">
			<form method="post" style="display: inline-block;">
			<input type="submit" name="earlier" value="<- Earlier" style="width:120px; background-color:white;">
			<input type="submit" name="later" value="Later ->" style="width:120px; background-color:white;">
			</form> 
		</div> 
		<div  style="text-align: center">
			<form method="post" style="display: inline-block;">
			<input type="submit" name="zoom out" value="Zoom Out" style="width:120px; background-color:white;">
			</form> 
		</div> 
	</p>
</body>
</html>