<!DOCTYPE html>
<html>
<head>
    <title>Timeline_Single</title>
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>  -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>  -->
	<!-- <script type="text/javascript" src="/static/bootstrap/bootstrap.min.js"></script>  -->
	<!--	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
</head>
<body class="bg-light">

	<div class="container">	

		<div class="row pt-3"> 		
			<!-- Button for going back to timeline page -->
			<div class="col-1">	
				<form method="post" action="/timeline/timeline" target="_self">  
					<button type="submit" name="back" class="btn btn-outline-secondary" value="back">back</button>
				</form> 
			</div>
			
			<!-- Button for editing -->
			<div class="col-1">	
				<form method="post" action="/edit/metadocument" target="_self">  
					<button type="submit" name="edit" class="btn btn-outline-secondary">edit</button>
				</form> 
			</div>		
		</div>
	
		<div class="row pt-3 justify-content-center">	
			<div class="col-6 justify-content-center border">		
				{%  for j in range(boxes[0][0]["n_subboxes"]) %}	
				
					{% set key = "data" %}
					{% if boxes[0][0][key][j] != None %}
						<div class="row justify-content-center border">
							<div class="col">	
							
								{% if boxes[0][0]["category"] == "note" %}										
									<iframe src="{{ url_for('static', filename=boxes[0][0][key][j]) }}"></iframe>
										
								{% elif boxes[0][0]["category"] == "photo" %}
									{% if boxes[0][0]["data_type"][j] == "png" %}					
										<img src="data:image/png;base64,{{ boxes[0][0][key][j] }}" class="img-fluid"/>  
									{% else %}
										<img src="data:image/jpeg;base64,{{ boxes[0][0][key][j] }}" class="img-fluid"/> 
									{% endif %}
									
								{% endif %}		
							</div>
						</div>
					{% endif %}			
					
					<!-- Description -->
					{% if boxes[0][0]["description"][j] != None %}
						<div class="row justify-content-center border text-dark">
							<div class="col text-dark">					
								{{ boxes[0][0]["description"][j] }}
							</div>
						</div>	
					{% endif %}
					
					<!-- Table Name -->
					{% if boxes[0][0]["table_name"][j] != None %}
						<div class="row justify-content-center border text-dark bg-success">
							<div class="col text-dark">					
								{{ boxes[0][0]["table_name"][j] }}
							</div>
						</div>	
					{% endif %}
					
					{% if display_events %}
						<!-- Event -->
						{% if boxes[0][0]["event"][j] != None %}
							<div class="row justify-content-center border text-dark bg-info">
								<div class="col overflow-scroll text-dark">					
									{{ boxes[0][0]["event"][j] }}
								</div>
							</div>	
						{% endif %}
					{% endif %}
					
				{% endfor %}		
			</div>	
		</div>	
		
		<!-- Document markers --> 
		<div class="row justify-content-center px-0 pt-3"> 
			<div class="col px-0 border">	
				<svg width="100%" height="5">
					{% set key = "markers" %}
					{% for j in range(marker[key][0][0]|length) %}
						<rect x="{{marker[key][0][0][j][0]}}%" width="{{marker[key][0][0][j][1]}}%" height="5" style="fill:black;" />	
					{% endfor %}
					{% set key = "marker_show" %}
					{%  if marker[key][0][0] | length > 0 %} 
						<rect x="{{marker[key][0][0][0][0]}}%" width="{{marker[key][0][0][0][1]}}%" height="5" style="fill:red;" />
					{% endif %} 
				</svg>
			</div>
		</div>	
		
		{% if display_events %}
			<!-- Event timelines -->
			<div class="row justify-content-center pt-3 px-0"> 	
				<div class="col px-0 border bg-info">					
					<!-- Event Marker and Description -->
					<svg width="100%" height="5">	
						{% set key = "event_markers" %}
						{% for j in range(event[key][0]|length) %} 				
							{% if event[key][0][j] != None %}	
								<rect x="{{event[key][0][j][0]}}%" width="{{event[key][0][j][1]}}%" height="3" style="fill:black;" />	
							{% endif %}
						{% endfor %}
					</svg>		
					{% set key = "event_labels" %}
					{% for j in range(event["event_markers"][0]|length) %} 
						{% if event[key][0][j][1] != None %}
							<div>	
								<span style="position: relative; left: {{event[key][0][j][0]}}%; width: 10%; background: WhiteSmoke; border:1px solid DodgerBlue;">{{event[key][0][j][1]}}</span>
							</div>	
						{% endif %}
					{% endfor %}
				</div>	
			</div>		
			<!-- Event Description -->
			<div class="row justify-content-center"> 	 	
				<div class="col border overflow-scroll">	
					{% if event["event_descriptions"][0][0] != None %}			
						{{ event["event_descriptions"][0][0] }}
					{% endif %}				
				</div>
			</div>
		{% endif %}	
		
		<!-- Time axis -->
		<div class="row justify-content-center"> 			
			<div class="col px-0 pt-3">	
				<svg width="100%" height="11">
					<rect width="100%" height="2" style="fill:black;" />
					<rect width="2" height="100%" style="fill:black;" />
				</svg>
			</div>
		</div>
		<div class="row justify-content-center"> 			
			<div class="col px-0">	
				{{ timegrid[0] }}
			</div>
		</div>
		
		<!-- Buttons for stepping through images -->
		<div class="row pt-3"> 	
			<div class="col">	
				<form method="post">  
					<div class="row justify-content-center">
						<div class="btn-group">
							<button type="submit" name="submit" class="btn btn-outline-primary" value="earlier">earlier</button>
							<button type="submit" name="submit" class="btn btn-outline-primary" value="later">later</button>
						</div>
					</div>
				</form> 
			</div>
		</div>
		
	</div>
</body>
</html>