<!DOCTYPE html>
<html>
<head>
    <title>View</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
	<p>
		<div  style="text-align: center">
			{% if user_src[0] %}
				{% if view_type == "html_path" %}<!--	
					--><iframe src="{{ user_src[0] }}" style="width:500px; height:300px;"></iframe><!--
			 -->{% elif view_type == "jpeg_base64" %}<!--	
					--><img src="data:image/jpeg;base64,{{ user_src[0] }}" style="width:500px;"/><!--	
			 -->{% endif %}
		    {% else %}
				{% set uimg = "static/blue.jpg" %}<!--
				--><img src="{{ uimg }}" style="width:500px;"><!--	
		 -->{% endif %}			 
		</div>
	</p>
	<p>	
		<table align="center">
		<tr>
		<td>{{ time[0] }} - {{ time[1] }} </td>
		<td>{{ description }}</td>
		</tr>
		<tr>
		<td>{{ eventname }}</td>
		<td>{{ parentevent }}</td>
		</tr>
		</table>
	</p>
	<p>
		<svg width="1240px" height="5px">	
		{% for value in range(n_a) %}		
			<line x1="{{ user_atomarevents[value][0] }}px" y1="3px" x2="{{ user_atomarevents[value][1] }}px" y2="3px" style="stroke:navy; stroke-width:5px;" />
		{% endfor %}		
		</svg>
	</p>
	<p>
		<svg width="1240px" height="5px">
		<rect x="500px" y="0px" width="50px" height="5px"/>
		</svg>
		{% for value in range(n_t) %}<!--
		--><svg width="124px" height="11px"><!--
			--><line x1="0px" y1="6px" x2="124px" y2="6px" style="stroke:black ;stroke-width:1px" /><!--
			--><line x1="0px" y1="0px" x2="0px" y2="11px" style="stroke:black; stroke-width:2px" /><!--
		--></svg><!--		
		-->{% endfor %}<!--	
		--><svg width="1px" height="11px"><!--
			--><line x1="0px" y1="0px" x2="0px" y2="11px" style="stroke:black;stroke-width:2px" /><!--
		--></svg>
	</p>
	<p>	
		<!-- <text x="0" y="15" fill="red">I love SVG!</text> -->
		{% for value in range(n_t) %}<!--
		--><div style="display: inline-block; width: 124px; text-align: left;">{{ user_time[value] }}</div><!--		
		-->{% endfor %}				
	</p>
	<p> 
		<!--  shift buttons --> 
		<div  style="text-align: center">
			<form method="post" style="display: inline-block;">
			<input type="submit" name="earlier" value="<- Earlier" style="width:120px; background-color:white;">
			<input type="submit" name="later" value="Later ->" style="width:120px; background-color:white;">
			</form> 
		</div> 
	</p>
</body>
</html>