<!DOCTYPE html>
<<html lang="de"> 
<head>
    <title>Timeline</title>
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap-5.0.2-dist/css/bootstrap.min.css') }}">	
    <!-- Optional JS. Popper.js first -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>	
	<script type="text/javascript" src="/static/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>

</head>
<body class="bg-light">

	<div class="container">		
	
		<div class="row pt-3">	
			{%for i in range(6) %}
			<div class="col-2 border">
				
				{% for j in range(n_subboxes[i]) %}
				
					<!-- Photos -->
					{% if data[i][j] != None %}
					<div class="row justify-content-center border">
						<div class="col">		
							<form method="post" action="/timeline/single" target="_self"> 
							<button class="btn" type="submit" name="{{ i }}">
								{% if data_type[i][j] == "png" %}					
									<img src="data:image/png;base64,{{ data[i][j] }}" class="img-fluid"/>  
								{% else %}
									<img src="data:image/jpeg;base64,{{ data[i][j] }}" class="img-fluid"/> 
								{% endif %}
							</button>
							</form> 
						</div>
					</div>
					{% endif %}
					
					<!-- Description -->
					{% if description[i][j] != None %}
					<div class="row justify-content-center border text-dark">
						<div class="col text-dark">					
							{{ description[i][j] }}
						</div>
					</div>	
					{% endif %}
					
				{% endfor %}		
				
			</div>
			{% endfor %}		
		</div>	
		
		<!-- Document markers -->
		<div class="row"> 
			<div class="col pt-2 px-0">	
				<svg width="100%" height="5">
					{% for i in range(markers|length) %}
						<rect x="{{markers[i][0]}}%" width="{{markers[i][1]}}%" height="5" style="fill:black;" />	
					{% endfor %}
				</svg>
			</div>
		</div>	
		
		<!-- Event timelines -->
		{% if event_markers is not none %}	
			<div class="row"> 
				<div class="col pt-2 px-0">	
					<svg width="100%" height="5">
						{% for i in range(event_markers|length) %}
							<rect x="{{event_markers[i][0]}}%" width="{{event_markers[i][1]}}%" height="2" style="fill:DarkGray;" />	
						{% endfor %}
					</svg>
				</div>
			</div>	
			<div class="row">	
				<div class="col px-0">
					{% for i in range(event_labels|length) %}					
						<span style="position: absolute; left: {{event_labels[i][0]}}%; width: 10%; background: LightGray; border:1px solid DodgerBlue;">
						{{event_labels[i][1]}}</span>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	
		<!-- Time axis -->
		<div class="row"> 	
			{% for i in range(6) %}			
			<div class="col-2 px-0 pt-5">	
				<svg width="100%" height="11">
					<rect width="100%" height="2" style="fill:black;" />
					<rect width="2" height="100%" style="fill:black;" />
				</svg>
			</div>
			{% endfor %}
		</div>
		<div class="row"> 	
			{% for i in range(6) %}			
			<div class="col-2 px-0">	
				{{ timegrid[i] }}
			</div>
			{% endfor %}
		</div>
	
		<!-- Buttons -->
		<div class="row pt-5 justify-content-center"> 	
			<div class="col-2">	
				<form method="post">  
					<div class="row justify-content-center"> 	
						<input type="submit" name="submit" class="btn btn-outline-primary" value="zoom in">
					</div>
					<div class="row justify-content-center">
						<div class="btn-group">
							<input type="submit" name="submit" class="btn btn-outline-primary" value="earlier">
							<input type="submit" name="submit" class="btn btn-outline-primary" value="later">
						</div>
					</div>
					<div class="row justify-content-center"> 
						<input type="submit" name="submit" class="btn btn-outline-primary" value="zoom out">
					</div>
				</form> 
			</div>
		</div>
	
	</div>	
	
</body>
</html>