<!DOCTYPE html>
<html lang="de"> 
<head>
    <title>Timeline</title>
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap-5.0.2-dist/css/bootstrap.min.css') }}">	
    <!-- Optional JS. Popper.js first -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>	-->
	<script type="text/javascript" src="/static/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script> 

</head>
<body class="bg-light">

	<div class="container">		
	
		<div class="row pt-3 justify-content-center">	
			{% for i in range(boxes|length) %} 	
				{% set boxsize = box_size[i] %}
				
				<div class="col-{{ boxsize }} justify-content-center border">
				
					{% for j in range(boxes[i]["n_subboxes"]) %} 	
					
						{% set key = "data" %}
						{% if boxes[i][key][j] != None %}									
							<div class="row justify-content-center border">
								<div class="col overflow-scroll">		
									<form method="post" action="/timeline/single" target="_self"> 
									<button class="btn" type="submit" name="{{ i }}">
									
									{% if boxes[i]["category"] == "browsing" %}										
										<a href="{{ boxes[i][key][j] }}" class="link-primary">{{ boxes[i][key][j] }}</a>
										
									{% elif boxes[i]["category"] == "note" %}										
										<iframe src="{{ url_for('static', filename=boxes[i][key][j]) }}"></iframe>
										
									{% elif boxes[i]["category"] == "photo" %}																								
										{% if boxes[i]["data_type"][j] == "png" %}					
											<img src="data:image/png;base64,{{ boxes[i][key][j] }}" class="img-fluid"/>  
										{% else %}
											<img src="data:image/jpeg;base64,{{ boxes[i][key][j] }}" class="img-fluid"/> 
										{% endif %}
										
									{% endif %}		
									
									</button>
									</form> 
								</div>
							</div>				
						{% endif %}
						
						<!-- Description -->
						{% if boxes[i]["description"][j] != None %}
							<div class="row justify-content-center border text-dark">
								<div class="col overflow-scroll text-dark">					
									{{ boxes[i]["description"][j] }}
								</div>
							</div>	
						{% endif %}
						
						<!-- Table Name -->
						{% if boxes[i]["table_name"][j] != None %}
							<div class="row justify-content-center border text-dark bg-success">
								<div class="col overflow-scroll text-dark">					
									{{ boxes[i]["table_name"][j] }}
								</div>
							</div>	
						{% endif %}				
						
						{% if display_events %}
							<!-- Event -->
							{% if boxes[i]["event"][j] != None %}
								<div class="row justify-content-center border text-dark bg-info">
									<div class="col overflow-scroll text-dark">					
										{{ boxes[i]["event"][j] }}
									</div>
								</div>	
							{% endif %}
						{% endif %}
						
					{% endfor %}	
					
				</div>
			{% endfor %}
		</div>	

		<!-- Document markers -->
		<div class="row justify-content-center px-0 pt-3"> 	
			{% for i in range(boxes|length) %} 	
				{% set boxsize = box_size[i] %}
				<div class="col-{{ boxsize }} px-0 border">	
					<svg width="100%" height="5">
						{% for j in range(markers[i]|length) %}
							<rect x="{{markers[i][j][0]}}%" width="{{markers[i][j][1]}}%" height="5" style="fill:black;" />	
						{% endfor %}
						{%  if marker_show[i] | length > 0 %} 
							<rect x="{{marker_show[i][0][0]}}%" width="{{marker_show[i][0][1]}}%" height="5" style="fill:red;" />
						{% endif %} 
					</svg>
				</div>
			{% endfor %}
		</div>	
		
		{% if display_events %}
			<!-- Event timelines -->
			<div class="row justify-content-center pt-3 px-0"> 	
				{% for i in range(boxes|length) %} 	
					{% set boxsize = box_size[i] %}
					<div class="col-{{ boxsize }} px-0 border bg-info">					
						<!-- Event Marker and Description -->
						<svg width="100%" height="5">			
							{% for j in range(event_markers[i]|length) %} 				
								{% if event_markers[i][j] != None %}	
									<rect x="{{event_markers[i][j][0]}}%" width="{{event_markers[i][j][1]}}%" height="3" style="fill:black;" />	
								{% endif %}
							{% endfor %}
						</svg>		
						{% for j in range(event_markers[i]|length) %} 
							{% if event_labels[i][j][1] != None %}
								<div>	
									<span style="position: relative; left: {{event_labels[i][j][0]}}%; width: 10%; background: WhiteSmoke; border:1px solid DodgerBlue;">{{event_labels[i][j][1]}}</span>
								</div>	
							{% endif %}
						{% endfor %}
					</div>	
				{% endfor %}
			</div>		
			<!-- Event Description -->
			<div class="row justify-content-center"> 	
				{% for i in range(boxes|length) %} 	
					{% set boxsize = box_size[i] %}
					<div class="col-{{ boxsize }} border overflow-scroll">					
						{% if event_descriptions[i][0] != None %}			
							{{ event_descriptions[i][0] }}
						{% endif %}							
					</div>
				{% endfor %}
			</div>		
		{% endif %}
	
		<!-- Time axis -->
		<div class="row justify-content-center"> 	
			{% for i in range(boxes|length) %} 	
				{% set boxsize = box_size[i] %}
				<div class="col-{{ boxsize }} px-0 pt-5">	
					<svg width="100%" height="11">
						<rect width="100%" height="2" style="fill:black;" />
						<rect width="2" height="100%" style="fill:black;" />
					</svg>
				</div>
			{% endfor %}
		</div>
		<div class="row justify-content-center"> 	
			{% for i in range(boxes|length) %} 	
				{% set boxsize = box_size[i] %}			
				<div class="col-{{ boxsize }} px-0">	
					{{ timegrid[i] }}
				</div>
			{% endfor %}
		</div>
	
		<!-- Buttons -->
		<div class="row pt-3 justify-content-center"> 	
			<div class="col-2">	
				<form method="post">  
					<div class="row justify-content-center"> 	
						<input type="submit" name="submit" class="btn btn-outline-primary" value="zoom in">
					</div>
					<div class="row justify-content-center">
						<div class="btn-group">
							<input type="submit" name="submit" class="btn btn-outline-primary" value="earlier">
							<input type="submit" name="submit" class="btn btn-outline-primary" value="later">
						</div>
					</div>
					<div class="row justify-content-center"> 
						<input type="submit" name="submit" class="btn btn-outline-primary" value="zoom out">
					</div>
				</form> 
			</div>
		</div>
	
	</div>	
	
</body>
</html>

